
//
// Colors

$bruce-colors: (
    'white': #fff,
    'black': #000,
    'copy': grey(20),
    'hero': #93619f
);


//
// Fonts

$bruce-fonts: (
    'heading': (Helvetica, sans-serif),
    'copy': (Helvetica, sans-serif)
);


//
// Breakpoints

$bruce-breakpoints: ();
